@@include('static/include/head.html')
<body>
	<div class="layerfullWrap">
		<!-- 헤더영역 -->
		@@include('static/include/layer_header.html',{
			"title":"탈퇴신청"
		})
		<!-- //헤더영역 -->

		<!-- 컨텐츠 영역 -->
		<section id="layerContent">
			<div class="leaveApply">
				<div class="inner">
					<p class="exMark">
						탈퇴신청 시 파라다이스시티 홈페이지에서만 탈퇴 처리되며 기존에 보유하고 계신 포인트 내역 등의 멤버십 회원의 자격은 유지됩니다.
					</p>
					<p class="fs12 tc mt15">파라다이스 리워즈 및 파라다이스 시그니처 등 모든 멤버십에서의 완전한 탈퇴를 원하시는 경우 멤버십 데스크로 문의바랍니다.</p>
					<p class="leaveq">문의 <a href="tel:1833-8330" class="btnUnderline">1833-8330</a> (월~금 09:00 ~ 18:00)</p>
				</div>

				<div class="leaveCommit fullWidth">
					<div class="inner">
						<p>해당 내용에 동의하였으며,<br /> <span class="pointColor2">홈페이지 탈퇴</span>를 신청합니다.</p>
					</div>
					<div class="tblDiv btnTbl">
						<div class="cellDiv">
							<a href="#" class="btn ty11">취소</a>
						</div>
						<div class="cellDiv">
							<a href="#" class="btn ty4">확인</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- //컨텐츠 영역 -->

	</div>
</body>
</html>