@charset "utf-8";

@import url('lib/animated.css');
@import url('lib/jquery-ui-1.10.4.custom.min.css');
@import url('lib/swiper.css');
@import url('main.css');


body.fixed {height:100%; position:fixed;}
body.fixed #wrap {overflow:hidden;}

/* ==============================
 * header
 * ============================== */
#headerWrap {position:relative; z-index:100; min-height:60px; text-align:center; line-height:60px;}
#headerWrap h1 {line-height:60px; font-size:17px; font-weight:bold; color:#111;}
#headerWrap h1 > img {width:146px;}
#headerWrap .cartBtn {position:absolute; top:21px; right:17px; width:20px; height:18px; text-indent:-9999px; background:url(../images/common/btn/btn_cart.png) no-repeat; background-size:100%;}
#headerWrap .cartBtn span {position:absolute; top:-5px; right:-12px; width:24px; height:12px; line-height:12px; font-size:10px; color:#fff; text-align:center; text-indent:0; background:#9d836a; border-radius:6px;}
#headerWrap .menuBtn {position:absolute; top:22px; left:17px; z-index:10; width:18px; height:15px; background:url(../images/common/btn/btn_menu.png) no-repeat; background-size:100%; text-indent:-9999px;}
#headerWrap .snsBtn {position:absolute; top:21px; right:17px; width:20px; height:18px; text-indent:-9999px; background:url(../images/common/btn/btn_cart.png) no-repeat; background-size:100%;}


.headerSubWrap {position:relative; z-index:2; height:30px;}
.headerFixed {background:#fff;}
.headerFixed.fixed {position:fixed; top:0; left:0; width:100%;}
.headerFixed .now {position:relative; padding:0 16px; height:30px; line-height:30px; text-align:left; border-bottom:1px solid #e7e3e0;}
.headerFixed .now:before {content:''; position:absolute; top:50%; right:16px; margin-top:-3px; width:10px; height:6px; background:url(../images/common/icon/icon_arrow2.png) no-repeat 0 0; background-size:10px 12px;}
.headerFixed .now.on:before {background:url(../images/common/icon/icon_arrow2.png) no-repeat 0 -6px; background-size:100%;}
.headerSubLink {position:relative; display:none; background:#fff; overflow:hidden;}
.headerSubLink {
	-webkit-box-shadow: 0 7px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 7px 10px rgba(0,0,0,.1);
	box-shadow: 0 7px 10px rgba(0,0,0,.1);
}
.headerSubLink li {}
.headerSubLink li:nth-child(even) {padding-left:0;}
.headerSubLink li > a {display:block; padding:10px 0; text-align:center; color:#333;}
.headerSubLink li > .on {font-weight:bold; color:#9d836a;}


nav {position:fixed; top:0; right:0; bottom:0; left:-100%; width:100%; z-index:101;}
nav.on {left:0;}
nav .navDimmed {position:absolute; top:0; right:0; bottom:0; left:0; z-index:102; width:100%; background:#000; opacity:0.9;}
.gnb {position:absolute; top:0; left:-100%; right:0; bottom:0; width:100%; z-index:103;}
.gnb > .close {position:absolute; top:15px; left:16px; width:20px; height:20px;}
.gnb > .close:before {content:''; position:absolute; top:9px; left:0; width:20px; border-bottom:1px solid #fff; transform: rotate(45deg);}
.gnb > .close:after {content:''; position:absolute; top:9px; right:0; width:20px; border-bottom:1px solid #fff; transform: rotate(-45deg);}
.gnb .country {padding:0 16px 0 38px; height:50px; background:#161411; overflow:hidden;}
.gnb .country > a {float:left; display:block; width:20%; text-align:center; font-family:'Roboto'; font-weight:400; font-size:12px; color:#fff; opacity:0.2; line-height:50px;}
.gnb .country > a.on {opacity:1;}
.gnb .util {background:#161411; border-top:1px solid #333;}
.gnb .util > ul {overflow:hidden;}
.gnb .util > ul li {position:relative; float:left; width:33.3%}
.gnb .util > ul li + li:before {content:''; position:absolute; top:50%; left:0; width:1px; margin-top:-6px; border-bottom:12px solid #333;}
.gnb .util > ul li a {display:block; width:100%; font-size:12px; color:#fff; line-height:45px;}
.gnb .greetings {padding:9px 16px 10px 16px; background:#35312d; font-size:14px; color:#fff; text-align:left; line-height:18px;}
.gnb .link {padding:20px 16px;}

.gnbCont {position:relative;}
.gnbCont .inner {
	height:calc(100% - 91px); overflow:auto;
	-webkit-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
}
.gnbCont .inner.on {height:calc(100% - 36px);}

.gnbList {padding:0 16px;}
.gnbList > li {text-align:left;}
.gnbList > li > a {display:block; padding:11px 0; font-family:'Roboto'; font-weight:400; font-size:14px; color:#fff; line-height:20px; border-bottom:1px solid #84817e;}
.gnbList > li {}
.gnbList > .dept > .tit {position:relative; padding:11px 0; font-family:'Roboto'; font-weight:400; font-size:14px; color:#fff; line-height:20px; border-bottom:1px solid #84817e;}
.gnbList > .dept > .tit:after {content:''; position:absolute; top:50%; right:0; margin-top:-3px; width:10px; height:6px; background:url(../images/common/icon/icon_arrow4.png) no-repeat; background-size:10px 12px;}
.gnbList > .dept > .tit.on {font-weight:bold; color:#9c836a;}
.gnbList > .dept > .tit.on:after {background-position:0 -6px;}
.gnbList > .dept > .subGnb {display:none; padding:5px 0 16px 0;}
.gnbList > .dept > .subGnb li {}
.gnbList > .dept > .subGnb li a {display:block; padding:8px 0; font-family:'Roboto'; font-weight:400; font-size:12px; color:#fff; opacity:0.5; line-height:16px;}

.gnbCont .gnbBottom {position:relative; margin-top:36px; background:#161411;}
.gnbCont .gnbBottom.on {top:55px;}
.gnbCont .gnbBottom > ul {overflow:hidden;}
.gnbCont .gnbBottom > ul li {position:relative; float:left; width:33.3%;}
.gnbCont .gnbBottom > ul li + li:before {content:''; position:absolute; top:50%; left:0; width:1px; margin-top:-6px; border-bottom:12px solid #333;}
.gnbCont .gnbBottom > ul li a {display:block; padding:18px 0 17px 0; text-align:center; font-size:0;}
.gnbCont .gnbBottom > ul li a span {display:inline-block; padding-left:26px; font-size:12px; color:#fff; line-height:20px;}
.gnbCont .gnbBottom > ul li a .ty1 {background:url(../images/common/icon/icon_mail.png) no-repeat left center; background-size:15px 10px;}
.gnbCont .gnbBottom > ul li a .ty2 {background:url(../images/common/icon/icon_tel.png) no-repeat left center; background-size:16px 15px;}
.gnbCont .gnbBottom > ul li a .ty3 {background:url(../images/common/icon/icon_arrive.png) no-repeat left center; background-size:15px 17px;}


/* ==============================
 * footer
 * ============================== */
#footerWrap {position:relative; padding-top:50px;}
.footerTop {background:#191817;}
.footerTop > .footerLinkTop {overflow:hidden;}
.footerTop > .footerLinkTop ul {display:table; width:100%;}
.footerTop > .footerLinkTop ul li {display:table-cell; width:33.3%; height:38px; vertical-align:middle; border-bottom:1px solid #474645;}
.footerTop > .footerLinkTop ul li + li {border-left:1px solid #474645;}
.footerTop > .footerLinkTop a {display:block; height:38px; padding:10px 0 0 0; text-align:center;}
.footerTop > .footerLinkTop a span {display:inline-block; font-family:'Roboto'; font-weight:400; font-size:11px; color:#fff; line-height:20px; text-align:left; opacity:0.7;}
.footerTop > .footerLinkTop .arrive span {padding-left:25px; background:url(../images/common/icon/icon_arrive.png) no-repeat left center; background-size:15px 17px;}
.footerTop > .footerLinkTop .tel span {padding-left:22px; background:url(../images/common/icon/icon_tel.png) no-repeat left center; background-size:16px 15px;}
.footerTop > .footerLinkTop .offers {padding:5px 0 0 0;}
.footerTop > .footerLinkTop .offers span {line-height:14px;}
.footerTop > .inner {padding:24px 16px 30px 16px;}
.footerTop > .inner .appService dt {font-family:'Roboto'; font-weight:bold; font-size:12px; color:#9c836a;}
.footerTop > .inner .appService dd p {font-size:12px; padding:5px 0 18px 0; color:#fff; opacity:0.5;}
.footerTop > .inner .appService dd .appBtn {overflow:hidden;}
.footerTop > .inner .appService dd .appBtn a {float:left; width:105px;}
.footerTop > .inner .appService dd .appBtn a + a {margin-left:12px;}
.footerTop > .inner .appService dd .appBtn a img {width:100%;}

.footerLinkMIddle {margin-top:16px; overflow:hidden;}
.footerLinkMIddle .familySite {float:left; width:144px; padding-top:3px; border-bottom:1px solid #8c8c8b;}
.footerLinkMIddle .familySite .selectbox {height:26px; border:none;}
.footerLinkMIddle .familySite .selectbox {background:#191817 url(../images/common/icon/bg_select2.png) no-repeat right center; background-size:8px 5px;}
.footerLinkMIddle .sns {float:left; margin-left:30px; overflow:hidden;}
.footerLinkMIddle .sns a {position:relative; display:inline-block; float:left; font-size:0; width:30px; height:30px; background:url(../images/common/icon/icon_footer_sns.png) no-repeat; background-size:30px 300px; text-indent:-9999px;}
.footerLinkMIddle .sns a:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; border:1px solid #a3a3a2; border-radius:50%; box-sizing:border-box;}
.footerLinkMIddle .sns a + a {margin-left:12px;}
.footerLinkMIddle .sns .facebook {background-position:0 0;}
.footerLinkMIddle .sns .insta {background-position:0 -30px;}
.footerLinkMIddle .sns .youtube {background-position:0 -60px;}
.footerLinkMIddle .sns .blog {background-position:0 -90px;}

.footerBottom {padding:18px 16px 20px 16px; background:#161411;}
.footerBottom > dl {}
.footerBottom > dl dt {font-weight:bold; font-size:10px; color:#9c836a;}
.footerBottom > dl dd {padding:3px 0 6px 0;font-size:10px; color:#7b7a7a; line-height:16px;}
.footerBottom > dl dd a {color:#7b7a7a;}
.footerBottom > dl dd .mail {display:inline-block; font-weight:bold; border-bottom:1px solid #7b7a7a;}
.footerBottom > .copyright {padding-bottom:14px; font-size:10px; color:#60605e;}
.footerBottom > .footerLinkBottom {overflow:hidden;}
.footerBottom > .footerLinkBottom a {position:relative; float:left;}
.footerBottom > .footerLinkBottom a + a {padding-left:7px; margin-left:7px; }
.footerBottom > .footerLinkBottom a + a:before {content:''; position:absolute; top:3px; left:0; width:1px; border-bottom:8px solid #454341;}
.footerBottom > .footerLinkBottom a span {display:block; font-weight:bold; font-size:10px; color:#7b7a7a; border-bottom:1px solid #7b7a7a;}

.pageTop {position:fixed; bottom:4px; right:16px;}
.pageTop.etc {bottom:54px !important;}
.pageTop.fix {position:absolute; display:inline-block; right:16px;}
.pageTop {z-index:99; width:36px; height:36px; background:url(../images/common/btn/btn_pagetop.png) no-repeat; background-size:cover; text-indent:-9999px;}


@media screen and (max-width: 1214px) {
}

@media screen and (max-width:800px) {
}

@media screen and (max-width:640px) {
}




















