@charset "utf-8";


/* ==============================
 * common - 컨텐츠 공통
 * ============================== */
 


 /* ==============================
 * main
 * ============================== */


 /* ==============================
 * content
 * ============================== */

.mainCont {}
.mainCont + .mainCont {margin-top:29px;}
.mainCont > h2 {font-size:20px; color:#333;}
.mainCont > h2 + .subTxt {padding:11px 0 0 0; color:#333; line-height:18px;}


@media screen and (max-width:640px){
}
